@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>

    </div>
    <script src="~/Scripts/contact.js"></script>
    <script src="~/Scripts/menu.js"></script>
    <script>
        new Contact("Contact Us");
    </script>
</body>
</html>
